<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manyi.iw.soa.mapper.UserMemoMapper" >
  <resultMap id="BaseResultMap" type="com.manyi.iw.soa.entity.UserMemo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="agent_id" property="agentId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.manyi.iw.soa.entity.UserMemo" extends="BaseResultMap" >
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <resultMap type="com.manyi.iw.soa.user.model.UserMemoResponse" id="UserMemoListResultMap">
  	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  	<result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    id, user_id, agent_id, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from iw_user_memo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from iw_user_memo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.manyi.iw.soa.entity.UserMemo" >
    insert into iw_user_memo (user_id, agent_id, memo
      )
    values (#{userId,jdbcType=BIGINT}, #{agentId,jdbcType=BIGINT}, #{memo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.manyi.iw.soa.entity.UserMemo" >
    insert into iw_user_memo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manyi.iw.soa.entity.UserMemo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 16 18:57:25 CST 2014.
    -->
    update iw_user_memo
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="agentId != null" >
        agent_id = #{agentId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.manyi.iw.soa.entity.UserMemo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 16 18:57:25 CST 2014.
    -->
    update iw_user_memo
    set user_id = #{userId,jdbcType=BIGINT},
      agent_id = #{agentId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manyi.iw.soa.entity.UserMemo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 16 18:57:25 CST 2014.
    -->
    update iw_user_memo
    set user_id = #{userId,jdbcType=BIGINT},
      agent_id = #{agentId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 获取用户备注数量 -->
  <select id="getUserMemoListTotal" resultType="int">
  	select count(0) from iw_user_memo where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <!-- 获取用户备注列表 -->
  <select id="getUserMemoList" resultMap="UserMemoListResultMap" parameterType="com.manyi.iw.soa.user.model.UserMemoRequest">
  	select memo,create_time from iw_user_memo where user_id = #{userId,jdbcType=BIGINT}
  	${additionalSql}
  </select>
  
  
</mapper>